.sidebar {
    position: fixed;
    top: 30%;
    left: 8%;
    transform: translateY(-50%);
    width: 300px;
    height: 300px;
    background-color: rgba(85, 66, 66, 0.304);
    color: white;
    border-radius: 10%;
    transform: rotate(45deg);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialer {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(315deg);
    padding: 10px;
}

.dialerItem {
    position: absolute;
    width: 110px; 
    height: 110px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.dialerItem:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.653);
}

.dialerItem.active {
    width: 50px;
    height: 0;
    background-color: rgba(0, 242, 255, 0.6); 
    clip-path: polygon(50% 100%, -150% -100%, 150% 0%); 
    border: 60px solid transparent;
}

.dialerItem a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

@keyframes rotate {
    20% { transform: rotate(40deg); }
    40% { transform: rotate(80deg); }
    60% { transform: rotate(0deg); }
}

.sidebar {
    animation: rotate linear 2s;
}