@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --glow-rgb: 255, 255, 255;
  --glow-1-rgb: 255, 0, 0;
  --glow-2-rgb: 255, 0, 127;
  --glow-3-rgb: 51, 153, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(var(--glow-rgb), 0.3) 0%,
    rgba(var(--glow-rgb), 0.1) 30%,
    rgba(var(--background-rgb), 0) 70%
  );
  pointer-events: none;
}

.glow-circle {
  position: fixed;
  border-radius: 100%;
  filter: blur(0px);
  opacity: 0.20;
  pointer-events: none;
}

.glow-circle-1 {
  width: 46.875vw;  
  height: 46.875vw;
  background: radial-gradient(circle, rgba(var(--glow-1-rgb), 0.8) 0%, rgba(var(--glow-1-rgb), 0) 70%);
  top: 10vh;
  left: 10vw;
}

.glow-circle-2 {
  width: 41.667vw; 
  height: 41.667vw; 
  background: radial-gradient(circle, rgba(var(--glow-2-rgb), 0.8) 0%, rgba(var(--glow-2-rgb), 0) 70%);
  top: 10vh;
  left: 60vw;
}

.glow-circle-3 {
  width: 41.667vw;  
  height: 41.667vw; 
  background: radial-gradient(circle, rgba(var(--glow-3-rgb), 0.8) 0%, rgba(var(--glow-3-rgb), 0) 70%);
  top: 50vh;
  left: 30vw;
}

.header-mini {
  font-size: 40px;
  position: fixed;
  top: 20%;
  left: 28%;
  width: auto; 
  padding: 1rem;
  z-index: 1000;
  display: inline-flex; 
  align-items: center;
}

.header-italic {
  color: rgba(136, 161, 161, 0.375);
  font-style: italic;
  font-size: 30px;
  margin-left: 0.5rem; 
  display: inline-flex; 
  align-items: center;
}

.header-name {
  font-size: 8rem;
  position: fixed;
  top: 34%;
  left: 32%;
  width: auto; 
  padding: 1rem;
  z-index: 1000;
  display: inline-flex; 
  align-items: center;
}

.header-name h1 {
  margin-left: 2rem; 
}

.page-title {
  font-size: 35px;
  position: fixed;
  top: 3%;
  left: 45%;
  width: auto; 
  padding: 1rem;
  z-index: 1000;
  display: inline-flex; 
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.header-italic {
  animation: fadeIn 3s ease-in-out 0.5s;
  display: inline-block;
}

